option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "digitalears.settings"
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
    aws:elasticbeanstalk:container:python:
        WSGIPath: "digitalears.wsgi:application"
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
